/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* All your own custom css here.. */
#header {
  background-color: #fff;
  color: #fff;
  padding: 10px;
}

#daftar-produk {
  padding: 40px;
  background-color: brown;
  color: #fff;
}

#produk-unggulan {
  padding: 40px;
  background-color: #618264;
  color: #fff;
}

#tentang-kami {
  padding: 40px;
  background-color: #F4E869;
  color: #000;
}

#testimonial {
  padding: 40px;
  background-color: #7D7C7C;
  color: #fff;
}

#kontak {
  padding: 40px;
  background-color: #200808;
  color: #fff;
}

#footer {
  background-color: #eb5f5f;
  color: #fff;
  padding: 20px;
}
